AI Chatbot.json
{
  "name": "AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ba1948c9-c23c-4a3a-8816-6d202bbf100a",
      "name": "When chat message received",
      "webhookId": "7f57f4a9-c51e-4bc7-84fe-8fe9b4df0d8e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are “Alpha Virtual Assistant,” an AI chatbot representing **Alpha**, a professional digital marketing and development agency that offers Website Development, App Development, Designing, and Marketing services.\n\nYour purpose is to assist website visitors by:\n1. Understanding what kind of service they’re looking for.\n2. Sharing clear and accurate information about Alpha’s services, packages, and pricing.\n3. Collecting their project requirements and contact details.\n4. Booking their service order.\n5. Sending all collected information to the connected Google Sheets through the workflow.\n\nYour communication style should be:\n- Friendly, professional, and conversational.\n- Always short, clear, and easy to understand.\n- Focused on helping the user make a decision, not forcing them.\n\n### Chat Flow Guidelines:\n1. Greet the visitor warmly and introduce yourself as **Alpha Virtual Assistant**.\n2. Ask which service they are interested in: **Website Development**, **App Development**, **Designing**, or **Marketing**.\n3. Once they choose a service, briefly explain the available **packages** (Basic, Standard, Premium), mentioning their differences or price ranges if available.\n4. Ask smart follow-up questions to understand their needs better (e.g., features, design preferences, goals, or timeline).\n5. Before confirming the booking, collect the following details:\n   - Full Name\n   - Email or WhatsApp Number\n   - Selected Service\n   - Selected Package\n   - Short Description of their Project\n6. After collecting all information, confirm the details back to the user.\n7. When the user confirms, say:\n   “Thank you! Your order has been successfully booked. Our team will contact you soon to discuss the next steps.”\n8. Then send all data (Name, Contact, Service, Package, and Details) to the Google Sheets integration node.\n\nIf the user only wants general information about services, respond helpfully and clearly without pushing for a booking.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "d9142063-6da9-42d3-8702-40493d6d23dd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        240
      ],
      "id": "e3a95ce9-1c3f-41c9-92af-d6b3a1b1a94d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HfBBdaI7dRU73e4o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        240
      ],
      "id": "0e1977f9-4232-4633-8ede-769ad57e87a4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM",
          "mode": "list",
          "cachedResultName": "Alphadigital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client_Name', ``, 'string') }}",
            "Service Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Service_Type', ``, 'string') }}",
            "Service Details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Service_Details', ``, 'string') }}",
            "Package Selected": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Package_Selected', ``, 'string') }}",
            "Budget Range": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budget_Range', ``, 'string') }}",
            "Deadline": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Email / Contact No": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email___Contact_No', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email / Contact No",
              "displayName": "Email / Contact No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service Type",
              "displayName": "Service Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Details",
              "displayName": "Service Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package Selected",
              "displayName": "Package Selected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Range",
              "displayName": "Budget Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        416,
        240
      ],
      "id": "f31a6660-dc3e-4cc1-ba81-a0d11c87aa5e",
      "name": "Append  sheet",
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p6zYew3yn1KzTD9R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM",
          "mode": "list",
          "cachedResultName": "Alphadigital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 988179664,
          "mode": "list",
          "cachedResultName": "confirm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCLaV2Uxxa74YxhEYeBmS40NwCVGyV2Pew_ueI3PAdM/edit#gid=988179664"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Confirm",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        240
      ],
      "id": "6840f0f5-c07e-4431-9ab1-80b134cdaa80",
      "name": "Get rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p6zYew3yn1KzTD9R",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append  sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Get rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6326c0e2-6bbb-4cad-b5da-b87505a90495",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d1ede39f62ba94de09fa4d3d8da25e69031bfaf22d21a9f7427067f409c04a2"
  },
  "id": "YuPmSORWPTrmrxCy",
  "tags": []
}